{
    "env": {
        "node": true,
        "es6": true,
        "jest": true
    },
    "parserOptions": {
        "ecmaVersion": 2021,
        "sourceType": "module"
    },
    "extends": "airbnb-base",
    "rules": {
        "camelcase": "off"
    },
    "ignorePatterns": [
        "example"
    ]
}